body{
    background: #fefefe;
}
.clear-btn {
    color: white;
    background: #b1b1b2;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.tag-count {
    padding: 3px 5px;
    background: #FFCC00;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.separator {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    border: 1px solid #efefef;
}
.mg-bt-20 {
    margin-bottom: 20px;
}
.mg-tp-10 {
    margin-top: 10px;
}
.mg-bt-10 {
    margin-bottom: 10px;
}
.no-pd {
    padding: 0;
}
.has-left-b {
    border-left: 1px solid #efefef;
    height: 100vh;
}
.has-right-b {
    border-right: 1px solid #ddd;
    height: 100vh;
}
.loading-wheel {
    margin: 10em 0;
    text-align: center
}

.top-bar-left ul, .top-bar, .top-bar-right ul{
    background: #FFCC00;
}
.filter-head {
    color: #FFCC00;
}
.top-bar li a {
    color: black;
}
.top-bar li.active a {
    background: transparent;
    outline: none;
}
.top-bar li i {
    position: relative;
    top: -3px;
}
.top-bar {
    min-height: 52px;
}
.filters {
    padding: 0;
}

.filters > div {
    max-height: calc( 100vh - 56px);
    overflow: auto;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track
{
    background: #eeedf3;
}

::-webkit-scrollbar-thumb
{
    background: #babac2;
    border: 5px;
}

.filters > div > div{
    padding: 0px 15px;
}

.filters .search-box {
    padding: 20px;
    background: #e7e6eb;
}

.filters .search-box .button {
    background: #f0f0f0;
    border: 0;
}
.filters .search-box .button i{
    color: #7d7d7e;
}

.filters .head-sep{
    background: #d2d1d6;
    padding: 10px 15px;
}
.filters .head-sep h6 {
    margin: 0;
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.info label {
    font-weight: bold;
    color: #919397;
}
.info p.label-answer {
    margin-bottom: 2px;
    line-height: 1;
    color: #b7b6bb;
    font-size: 14px;
}
.data-table {
    margin: 0;
}
.data-table thead{
    background: #f5f5f5;
}
.data-table tbody {
    border: 2px solid #ececec;
}
.data-table thead th{
    padding: 0.225rem 0.625rem;
    color: #787c7f;
    border: 2px solid #ececec;
    font-size: 14px;
    cursor: pointer;
}
.data-table tbody tr:nth-child(even) {
    background: #f6f4f5;
}
.data-table tbody tr {
    padding: .325rem .625rem;
    color: #b4c4d6;
    cursor: pointer;
}
.data-table tbody tr.selected {
    background: #e1f4fb;
}
.data-table tbody tr.selected td{
    color: #212032;
}
.data-table tbody td {
    padding: .325rem .625rem;
    color: #ababab;
}
.data-table th span {
    float: right;
    font-weight: bold;
    color: #b4c4d6;
}
.data-table th.sorting {
    color: black;
    font-weight: bold;
}
.data-table th.sorting span {
    color: black;
}
.paginator{
    background: #f6f6f6;
    padding: 10px 0;
    border: 2px solid #ececec;
    border-top: 0;
}
.paginator ul {
    margin: 0 10px 0 5px;
}
.paginator li {
    border: 1px solid #ececec;
    background: white;
    margin-right: 5px;
}
.paginator li.disabled {
    padding: 0;
}
.paginator li.disabled a {
    color: #cacaca;
    cursor: not-allowed;
}
.paginator li:not(:first-child) {
    border-left: 0;
}
.pagination .current {
    background: #FFCC00;
}

.dashboard-header .fa{
    color: gray;
    cursor: pointer;
}

.u--info {
    opacity: 0.8;
}

.c--fields-progress-bar .progress-meter {
    margin-top: 10px;
}

.chart-container {
    width: 150px;
    max-width: 150px;
    height: 100px;
    margin: 0 auto;
}

.c-lineage .c-lineage--text, a{
    margin: 0 10px;
}

.c-lineage .c-lineage--text {
    color: #ababab;
}

.graph-flowchart {
    max-height: 400px;
    color: black;
}

.c-tab-border {
    border: 1px solid #ddd;
    padding: 10px;
}

.graph-flowchart svg > g {
    transform: translateY(-70px);
}

.c--tag {
    margin: 0 5px;
}

/* Tree */
/* --- Tree --- */

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
    cursor: pointer;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
    font-size: 12px;
    padding: 5px;
    height: 40px;
    max-height: 40px;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px 0;
    opacity: 1;
}
.tree-handle {
    padding: 5px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}
.c-node--selected {
    opacity: 0.7;
    background: #fc0;
    color: #fefefe;
}
.c-node--selected:hover {
    cursor: not-allowed;
    background: #fc0;
    color: #fefefe;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-tree-button {
    margin-top: 0px;
    float: left;
}

.c-tree--margin-top-lg {
    margin-top: 0px;
}

.c-tree-title {
    margin-left: 20px;
    margin-top: 5px;
    float: left;
}

.c-tree--margin-top-sm {
    margin-top: 0px;
}

.c-tree-node-selected {

}
/* End Tree */

/* Visibility controls */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}

/* End Visibility*/
.u-color--black {
    background-color: black;
}

.u-color--black:hover {
    background-color: black;
    opacity: 0.8;
}

.u-color--warning {
    color: #FFCC00;
}

.u-tab-half-width {
    width: 50%;
    text-align: center;
}

.u-tab-half-width a {
    color: #777; /* secondary color */
    padding: 15px;
}

.u-tab-half-width.is-active a {
    background-color: #000;
    color: #fff;
}

.u-tab-half-width a {
    margin-left: 0px;
    margin-right: 0px;
}

.t-understand .tabs-content {
    border: 0;
}

.t-understand .tabs-panel {
    padding: 0;
}

.u-override-margin {
    margin: 0 0 5px 0;
}

.u-grp-btn-override-form {
    color: #777;
    background-color: transparent;
    border: 1px solid #cacaca;
    border-left: 0px;
}

.u-text-align-right {
    text-align: right;
}

.t-understand-form input[type="text"],
.t-understand-form input[type="number"] {
    color: #555;
    font-size: 12px;
}

.u-padding-sm {
    padding: 10px;
}

.t-browse .tabs-panel,
.t-browse__tag .tabs-panel {
    padding: 0px;
}

.t-browse .tabs-title > a,
.t-browse__tag .tabs-title > a{
    padding: 1.5em;
    margin: 0;
    font-weight: bold;
    color: #999;
}

.t-browse .tabs,
.t-browse__tag .tabs {
    border: none;
}

.t-browse .tabs-title>a:focus,
.t-browse .tabs-title>a[aria-selected=true],
.t-browse__tag .tabs-title>a:focus,
.t-browse__tag .tabs-title>a[aria-selected=true] {
    background: transparent;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 0.3em;
}

.t-browse .data-table-tab-fields tbody td,
.t-browse__tag .data-table-tab-fields tbody td {
    padding: 0rem .625rem;
}

.t-browse .data-table tbody td,
.t-browse .data-table-tab-fields tbody td,
.t-browse__tag .data-table tbody td,
.t-browse__tag .data-table-tab-fields tbody td {
    font-size: 12px;
}

.u-padding-zero {
    padding: 0;
}

.c-tab--width-sm {
    width: 60px;
    max-width: 60px;
}

.c--medium-gray {
    background-color: #e6e6e6;
    color: #0a0a0a;
    box-shadow: 0 2px #ddd;
    border-radius: 3px;
    transition: none;
}

.c--medium-gray:hover,
.c--medium-gray:active {
    color: #0a0a0a;
    background-color: #ddd;
}

.t-home {
    min-height: 100%;
}

* {
    outline: none;
}

.md-sidenav-left {
    height: 100%;
    min-height: 100%;
}

.md-default-theme {
    color: rgba(0,0,0,0.87);
    margin-left: 0;
}

.md-default-theme:hover {
    color: rgba(0,0,0,1);
    margin-left: 0;
    cursor: pointer;
}

md-list-item.md-no-proxy, md-list-item .md-no-style,
md-list-item.md-no-proxy.md-button, md-list-item .md-no-style.md-button {
    padding: 0;
    margin: 0;
}

/* Home - dashboard Pie charts*/
.pie-charts {
    color: #666
}
.pie-panel{
    /*position: relative;*/
    padding: 15px;
    /*box-sizing: border-box;*/
    margin: 2px;

    border: 1px solid #ccc;
    border-radius: 0.5em;
}
.pie-charts .pie-chart-item-container .panel {
    height: 114px
}
.pie-charts .pie-chart-item {
    position: relative
}
.pie-charts .pie-chart-item .chart-icon {
    position: absolute;
    right: 0;
    top: 3px;
    z-index: -1;
}
.pie-charts .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    float: left
}
.pie-charts .chart canvas {
    position: absolute;
    top: 0;
    left: 0
}
.pie-charts .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px
}
.pie-charts .percent:after {
    content: '%';
    margin-left: .1em;
    font-size: .8em
}
.pie-charts .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 18px;
    opacity: .9
}

/* End*/

.c-donut-chart {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background: rgba(250, 250, 250, 0.2);
    margin: 2px;
}

.u-bg-grey {
    background: rgba(250, 250, 250, 0.7);
}

.u-padding-20 {
    padding: 20px;
}

md-sidenav {
    max-width:200px;
}

.md-sidenav-left {
    min-height: 1050px !important;
}

#barChart, #areaChart {
    height: 300px;
}

a[href*="amcharts"] {
    display: none !important;
}

.has-bottom-b {
    border-bottom: 1px solid #ccc;
}

.reveal {
    padding: 0;
}
.callout.warning {
    background: #FFCC00;
}
.c-login-btn, .c-next-btn {
    background: #FFCC00 !important;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
/* End*/

/*Input Group*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group .form-control:focus {
  z-index: 3;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}
/*End*/

/* Button */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/*End*/

/* Form */
.u-display-flex {
    display: flex;
}

.alert-danger {
    color: #d9534f;
    font-style: italic;
}

a:hover,
a:active {
    text-decoration: none !important;
}

.mermaid > svg {
    max-width: 100% !important;
    min-width: 70% !important;
}