<div class="u-padding-20">
    <label>
        <strong>Name</strong>
        <input type="text" ng-model="manage.nodeItemSelected.title" placeholder="Tag Name">
    </label>
    <label>
        <strong>Tag Description</strong>
        <textarea placeholder="Tag Description">
        </textarea>
    </label>

    <div class="row">
        <button class="info button float-right" ng-click="browse.saveEditTag()" data-close aria-label="Close modal">Save</button>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
