<div>
    <form role="form" name="manage.step3Form">
        <h4 class="filter-head"> Step 3: Accept and Confirm</h4>

        <div>
            <label class="filter-head">
                Summary of the request
            </label>
            <label>
                Name: {{manage.step1Form.name.$modelValue}}
            </label>
            <br/>
            <label>
                Description: {{manage.step1Form.desc.$modelValue}}
            <label>
                Status: {{manage.step1Form.status}}
            </label>
            <br/>
            <label>
                Domaine: {{manage.step1Form.domaine}}
            </label>
            <br/>
            <label>
                CPI: {{manage.step1Form.status !== 'PROD'? 'CPI': manage.step1Form.cpi}}
            </label>
            <br/>
            <label>
                Data stewards: 
                <span ng-repeat="steward in manage.step1Form.stewards">{{steward.name}}<span ng-show="$index < manage.step1Form.stewards.length-1 ">, </span></span>
            </label>
            <br/>
            <label>
                Data Scientists: 
                <span ng-repeat="scientist in manage.step1Form.scientists">{{scientist.name}}<span ng-show="$index < manage.step1Form.scientists.length-1 ">, </span></span>
            </label>
            <br/>
            <label>
                Data Engineers:
                <span ng-repeat="engineer in manage.step1Form.engineers">{{engineer.name}}<span ng-show="$index < manage.step1Form.engineers.length-1 ">, </span></span>
            </label>
            <br/>
            <label class="filter-head">
                Summary of Data Sources
            </label>
            <br />
            <table class="stack data-table">
                <thead>
                    <tr>
                        <th>Data Source</th>
                        <th>Location</th>
                        <th>Tags</th>
                        <th>Approving Request</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in manage.rowsToDisplay | limitTo: 50">
                        <td>
                            {{item._source.Name}}
                        </td>
                        <td>
                            {{item._source.Location}}
                        </td>
                        <td>
                            {{item._source.Tag}}
                        </td>
                        <td>
                            {{item._source.Data_Steward}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br/>

        <button type="submit" class="c-next-btn btn btn-default pull-right standard-button btn-full-width">Submit</button>
        <button type="submit" class="c-prev-btn btn u-color--black btn-default pull-right standard-button btn-full-width" ng-click="manage.isStep2Active = true;manage.isStep3Active = false">Prev</button>

    </form>
</div>