<div>
    <p class="filter-head">Data Scientists Group</p>
    <table class="stack data-table">
        <thead>
            <tr>
                <th>S#</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in manage.groups.dataScientists">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{member.name}}
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <p class="filter-head">Data Engineers Group</p>
    <table class="stack data-table">
        <thead>
            <tr>
                <th>S#</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in manage.groups.dataEngineers">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{member.name}}
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <p class="filter-head">Data Stewards Group</p>
    <table class="stack data-table">
        <thead>
            <tr>
                <th>S#</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in manage.groups.dataStewards">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{member.name}}
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <p class="filter-head">Data Consumers Group</p>
    <table class="stack data-table">
        <thead>
            <tr>
                <th>S#</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in manage.groups.dataConsumers">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{member.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>