<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-warn">
        <h1 class="md-toolbar-tools">Right Menu</h1>
    </md-toolbar>
    <md-content layout-padding="">
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput" ng-model="data" md-autofocus="">
            </md-input-container>
        </form>
        <md-button ng-click="shared.close('right')" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>

</md-sidenav>
