<div class="t-understand">
	<div class="columns large-2 u-padding-zero filters columns has-right-b">
		<br />
		<div class="head-sep">
			<h6>Glossary</h6>
		</div>
	</div>
	<!-- Tree implementation -->
	<div ng-class="understand.isNodeSelected ? 'columns large-6 u-padding-sm' : 'columns large-10 u-padding-sm'">
		<div js-tree="understand.treeConfig"
			id="tagTree"
			ng-model="understand.treeData"
			should-apply="true"
			tree-events="select_node:understand.selectNodeCB;create_node:understand.createNodeCB"
			></div>
	</div>

	<div class="columns large-4 has-left-b c-understand-right-panel" ng-show="understand.isNodeSelected">
		<br/>
		<h4 class="u-color--warning">
			<strong>{{understand.nodeItemSelected.title}}</strong>
		</h4>

		<tabset>
			<tab class="u-tab-half-width round"
				ng-repeat="tab in understand.tabs"
				heading="{{tab.title}}" active="tab.active" ng-click="browse.handleTabClick()">
				<ng-include src="tab.content"></ng-include>
			</tab>
		</tabset>
	</div>
</div>
