<div class="t-manage">
	<div class="columns large-2 u-padding-zero filters columns has-right-b">
		<br />
		<div>
			<div>
				<ul class="vertical menu">
					<li>
						<a class="filter-head">My Access</a>
					</li>
				</ul>
			</div>
			<div class="separator">
			</div>
			<div>
				<ul class="vertical menu">
					<li>
						<a class="filter-head">My Quota Usage</a>
					</li>
				</ul>
			</div>
			<div class="separator">
			</div>
			<div>
				<ul class="vertical menu">
					<li>
						<a class="filter-head">View Resources<span class="fa float-right {{filter2 ? 'fa-angle-down': 'fa-angle-up'}}"></span></a>
						<ul class="menu vertical nested">
							<li>
								<label>
									<input type="radio" value="my" ng-model="manage.view.resource"> MY
								</label>
							</li>
							<li>
								<label>
									<input type="radio" value="all" ng-model="manage.view.resource"> ALL
								</label>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="separator">
			</div>
			<div>
				<ul class="vertical menu">
					<li>
						<a class="filter-head">Columns Visibility<span class="fa float-right {{filter2 ? 'fa-angle-down': 'fa-angle-up'}}"></span></a>
						<ul class="menu vertical nested">
							<li>
								<label>
									<input type="checkbox" ng-checked="manage.view.hdfs" ng-model="manage.view.hdfs"> HDFS
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" ng-model="manage.view.hive"> HIVE
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" ng-model="manage.view.kafka"> KAFKA
								</label>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="columns large-10 u-padding-sm">
		<div>
			<div ng-show="!manage.isNewDataUsage">
				<label>
				Search record:
				</label >
				<input class="form-control" placeholder="Search" type="text" ng-model="manage.search">
				<br/>
			</div>

			<div ng-show="!manage.isNewDataUsage">
				<a class="button u-color--black tiny round" ng-click="manage.isNewDataUsage=true">Create New Data Usage</a>

				<div class="row">
					<div class="large-6 pull-left">
						<select class="form-control" ng-model="manage.sortName">
							<option value="">Order By</option>
							<option value="subject">Data Usage</option>
							<option value="permission">Permission</option>
							<option value="instance">Status</option>
							<option value="domain">Domain</option>
						</select>
					</div>
					<div class="large-5 pull-right">
						<select class="form-control" ng-model="manage.sortOrder">
							<option value="">ASC</option>
							<option value="true">DESC</option>
						</select>
					</div>
				</div>

				<table class="stack data-table">
					<thead>
						<tr>
							<th>Data Usage</th>
							<th>Access Type</th>
							<th>Status</th>
							<th>Domain</th>
							<th ng-show="manage.view.hdfs">HDFS Directories</th>
							<th ng-show="manage.view.hive">HIVE Databases</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="group in manage.groups.vXGroups | orderBy:manage.sortName:manage.sortOrder | filter:manage.search" ng-click="manage.handleDetailPanelVisibility(group)">
							<td>
								{{group.subject}}
							</td>
							<td>
								{{group.permission}}
							</td>
							<td>{{group.instance}}</td>
							<td>{{group.domain}}</td>
							<td ng-show="manage.view.hdfs">
								<span class="tag-count c--tag" ng-repeat="hdfsItem in group.hdfs">
                       		 {{hdfsItem}}
                   		 </span>
							</td>
							<td ng-show="manage.view.hive">
								<span class="tag-count c--tag" ng-repeat="hiveItem in group.hive">
                       		 {{hiveItem}}
                   		 </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-show="manage.isNewDataUsage" ng-init="manage.isStep1Active = true">
				<a class="button u-color--black tiny round" ng-click="manage.isNewDataUsage=false">Cancel</a>
				<div ng-show="manage.isStep1Active">
					<ng-include src="'modules/manage/includes/create-new-step-1.html'"></ng-include>
				</div>
				<div ng-show="manage.isStep2Active">
					<ng-include src="'modules/manage/includes/data-sources-step-2.html'"></ng-include>
				</div>
				<div ng-show="manage.isStep3Active">
					<ng-include src="'modules/manage/includes/accept-confirm-step-3.html'"></ng-include>
				</div>
			</div>
			

			<!-- Tabs section-->
			<div ng-show="manage.view.groupDetailPanelVisibility && !manage.isNewDataUsage">
				<br />
				<tabset>
					<tab ng-repeat="tab in manage.tabs" heading="{{tab.title}}" active="tab.active" ng-click="manage.handleTabClick()">
						<ng-include src="tab.content"></ng-include>
					</tab>
				</tabset>
			</div>
		</div>
	</div>